// scss-lint:disable all
// Media queries breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-xs-max: ($screen-sm-min - 1);

$window-padding: 20px;

// Notification variables
$notification-max-width: 360px;
$notification-button-width: 90px;
$notification-close-button: "";

$notification-success-bg: #4db6ac;
$notification-success-border: #4db6ac;
$notification-success-icon: "\f058";

$notification-default-bg: #4db6ac;
$notification-default-border: #4db6ac;

$notification-info-bg: #ffffff;
$notification-info-border: #349ef3;
$notification-info-icon: "\f05a";

$notification-warning-bg: #ffb96e;
$notification-warning-border: #ffb96e;
$notification-warning-icon: "\f071";

$notification-error-bg: #ff5252;
$notification-error-border: #ff5252;
$notification-error-icon: "\f057";

$notification-loading-bg: #ffffff;
$notification-loading-border: #349ef3;
$notification-loading-icon: "\f110";
